body {
    margin: 100px;
    align-content: center;

}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid teal;
  margin: 2px;
  /*border-radius: 10px;*/
  /*background-color: rgba(142, 228, 219, 0.5);*/
  /*background-color: rgba(146, 125, 68, 0.5);*/
  /* display: inline-block; */
}